<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.transmedika.transmedikakitui">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.App">
        <activity android:name=".modul.KitUiMainActivity"/>
        <activity android:name=".modul.consultation.SpecialistActivity"/>
        <activity android:name=".modul.consultation.DoctorActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".modul.consultation.DetailDoctorActivity" />
        <activity android:name=".modul.consultation.ChatStepActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".modul.consultation.ClinicActivity"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".modul.consultation.SpesialisKlinikActivity"/>
        <activity android:name=".modul.consultation.PertanyaanActivity"/>
        <activity android:name=".modul.consultation.JawabanActivity"/>
        <activity android:name=".modul.consultation.DetailSpaActivity"/>
        <activity android:name=".modul.consultation.DetailResepActivity"/>
        <activity android:name=".modul.consultation.DetailCatatanDokterActivity"/>
        <activity android:name=".modul.videocall.CallingActivity"/>
        <!--<activity android:name=".modul.videocall.AnswerActivity"/>-->
        <activity android:name=".modul.ConversationMainActivity"/>
        <activity android:name=".modul.obat.KategoriObatActivity"/>
        <activity android:name=".modul.obat.ObatMainActivity"/>
        <activity android:name=".modul.AlamatActivity"/>
        <activity android:name=".modul.TambahAlamatActivity"/>
        <activity android:name=".modul.pin.ManagePinActivity"/>
        <activity android:name=".modul.password.ManagePasswordActivity"/>
        <activity android:name=".modul.password.ForgotPasswordActivity"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
        <provider
            android:name="androidx.work.impl.WorkManagerInitializer"
            android:authorities="${applicationId}.workmanager-init"
            tools:node="remove" />
    </application>

</manifest>